﻿@model PowerGrid.Models.Customer

@{
    ViewData["Title"] = "Create Customer";
}



<h4>Domacinstvo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateCustomerData">

            <div class="form-group">
                <label asp-for="ID_Cust" class="control-label"></label>
                <input asp-for="ID_Cust" class="form-control" />
             
            </div>
            <div class="form-group">
                <label asp-for="Tip" class="control-label"></label>
                <input asp-for="Tip" class="form-control" />
              
            </div>
            <div class="form-group">
                <label asp-for="PresekProvodnika" class="control-label"></label>
                <input asp-for="PresekProvodnika" class="form-control" />
              
            </div>
            <div class="form-group">
                <label asp-for="IstalisanaSnagaKW" class="control-label"></label>
                <input asp-for="IstalisanaSnagaKW" class="form-control" />
              
            </div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
               
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Suspendovan" /> @Html.DisplayNameFor(model => model.Suspendovan)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MTK" /> @Html.DisplayNameFor(model => model.MTK)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
