﻿@model PowerGrid.Models.Customer

@{
    ViewData["Title"] = "Edit Customer";
}



<h4>Izmeni domacinstvo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCustomerData">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID_Cust" class="control-label"></label>
                <input asp-for="ID_Cust" class="form-control" />
                <span asp-validation-for="ID_Cust" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tip" class="control-label"></label>
                <input asp-for="Tip" class="form-control" />
                <span asp-validation-for="Tip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresekProvodnika" class="control-label"></label>
                <input asp-for="PresekProvodnika" class="form-control" />
                <span asp-validation-for="PresekProvodnika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IstalisanaSnagaKW" class="control-label"></label>
                <input asp-for="IstalisanaSnagaKW" class="form-control" />
                <span asp-validation-for="IstalisanaSnagaKW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Suspendovan" /> @Html.DisplayNameFor(model => model.Suspendovan)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="MTK" /> @Html.DisplayNameFor(model => model.MTK)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
