﻿@model IEnumerable<PowerGrid.Models.Customer>

@{
    ViewData["Title"] = "ShowCustomer";
}

<h1>ShowCustomer</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_Cust)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresekProvodnika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IstalisanaSnagaKW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suspendovan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MTK)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null) return;
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID_Cust)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tip)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PresekProvodnika)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IstalisanaSnagaKW)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suspendovan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MTK)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
