﻿@model PowerGrid.Models.Transmission

@{
    ViewData["Title"] = "CreateTransmission";
}

<h1>CreateTransmission</h1>

<h4>Transmission</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTransmissionData">
         
            <div class="form-group">
                <label asp-for="ID_transm" class="control-label"></label>
                <input asp-for="ID_transm" class="form-control" />
               
            </div>
            <div class="form-group">
                <label asp-for="LokX" class="control-label"></label>
                <input asp-for="LokX" class="form-control" />
               
            </div>
            <div class="form-group">
                <label asp-for="LokY" class="control-label"></label>
                <input asp-for="LokY" class="form-control" />
              
            </div>
            <div class="form-group">
                <label asp-for="PresekProvodnikaMM2" class="control-label"></label>
                <input asp-for="PresekProvodnikaMM2" class="form-control" />
              
            </div>
            <div class="form-group">
                <label asp-for="NaponskiNivo" class="control-label"></label>
                <input asp-for="NaponskiNivo" class="form-control" />
                
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="KratakSpoj" /> @Html.DisplayNameFor(model => model.KratakSpoj)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
