﻿@model PowerGrid.Models.Transmission

@{
    ViewData["Title"] = "EditTransmission";
}

<h1>EditTransmission</h1>

<h4>Transmission</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTransmissionData">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ID_transm" class="control-label"></label>
                <input asp-for="ID_transm" class="form-control" />
                <span asp-validation-for="ID_transm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LokX" class="control-label"></label>
                <input asp-for="LokX" class="form-control" />
                <span asp-validation-for="LokX" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LokY" class="control-label"></label>
                <input asp-for="LokY" class="form-control" />
                <span asp-validation-for="LokY" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PresekProvodnikaMM2" class="control-label"></label>
                <input asp-for="PresekProvodnikaMM2" class="form-control" />
                <span asp-validation-for="PresekProvodnikaMM2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NaponskiNivo" class="control-label"></label>
                <input asp-for="NaponskiNivo" class="form-control" />
                <span asp-validation-for="NaponskiNivo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="KratakSpoj" /> @Html.DisplayNameFor(model => model.KratakSpoj)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
