﻿@model IEnumerable<PowerGrid.Models.Transmission>

@{
    ViewData["Title"] = "ShowTransmission";
}

<h1>ShowTransmission</h1>

<p>
    <a asp-action="CreateTransmission">Kreiraj novi stub za dalekovod</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_transm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LokX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LokY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresekProvodnikaMM2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NaponskiNivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KratakSpoj)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
           @if (Model == null) return;
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_transm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LokX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LokY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresekProvodnikaMM2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NaponskiNivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KratakSpoj)
            </td>
            <td>
                @Html.ActionLink("Izmeni", "EditTransmission", new { id = item.ID_transm })

                @Html.ActionLink("Obrisi", "DeleteTransmission", new { id = item.ID_transm })
            </td>
        </tr>
}
    </tbody>
</table>
