﻿@{
    ViewData["Title"] = "PowerGrid";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli na stranicu </h1>
   
</div>
<div class="card-body">
    <nav>
        <a class="btn-secondary" asp-controller="Generator" asp-action="ShowGenerators">Prikazi generatore</a>
        <a class="btn-primary" asp-controller="Customer" asp-action="ShowCustomer">Prikazi domacinstva</a>
        <a class="btn-success" asp-controller="Distribution" asp-action="ShowDistribution">Prikazi distribuiranu mrezu</a>
        <a class="btn-danger" asp-controller="Transmission" asp-action="ShowTransmission">Prikazi dalekovod</a>
    </nav>
</div>