﻿@model PowerGrid.Models.Generator

@{
    ViewData["Title"] = "CreateGenerator";
}

<h1>CreateGenerator</h1>

<h4>Generator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateGeneratorModel">
          
            <div class="form-group">
                <label asp-for="ID_gen" class="control-label"></label>
                <input asp-for="ID_gen" class="form-control" />
              
            </div>
            <div class="form-group">
                <label asp-for="SnagaGenKW" class="control-label"></label>
                <input asp-for="SnagaGenKW" class="form-control" />
               
            </div>
            <div class="form-group">
                <label asp-for="PocetakRada" class="control-label"></label>
                <input asp-for="PocetakRada" class="form-control" />
              
            </div>
            <div class="form-group">
                <label asp-for="IzlaznaStrujaA" class="control-label"></label>
                <input asp-for="IzlaznaStrujaA" class="form-control" />
               
            </div>
            <div class="form-group">
                <label asp-for="BrojPotrosaca" class="control-label"></label>
                <input asp-for="BrojPotrosaca" class="form-control" />
               
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Stanje" /> @Html.DisplayNameFor(model => model.Stanje)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
               
            </div>
            <div class="form-group">
                <label asp-for="IzlazniNaponKV" class="control-label"></label>
                <input asp-for="IzlazniNaponKV" class="form-control" />
               
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
