﻿@model PowerGrid.Models.Generator

@{
    ViewData["Title"] = "EditGenerator";
}


<h4>Generator</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditGeneratorData">
           
        
            <div class="form-group">
                <label asp-for="ID_gen" class="control-label"></label>
                <input type="hidden" asp-for="ID_gen" class="form-control" />
                <span asp-validation-for="ID_gen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SnagaGenKW" class="control-label"></label>
                <input asp-for="SnagaGenKW" class="form-control" />
                <span asp-validation-for="SnagaGenKW" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PocetakRada" class="control-label"></label>
                <input asp-for="PocetakRada" class="form-control" />
                <span asp-validation-for="PocetakRada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IzlaznaStrujaA" class="control-label"></label>
                <input asp-for="IzlaznaStrujaA" class="form-control" />
                <span asp-validation-for="IzlaznaStrujaA" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrojPotrosaca" class="control-label"></label>
                <input asp-for="BrojPotrosaca" class="form-control" />
                <span asp-validation-for="BrojPotrosaca" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Stanje" /> @Html.DisplayNameFor(model => model.Stanje)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Naziv" class="control-label"></label>
                <input asp-for="Naziv" class="form-control" />
                <span asp-validation-for="Naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IzlazniNaponKV" class="control-label"></label>
                <input asp-for="IzlazniNaponKV" class="form-control" />
                <span asp-validation-for="IzlazniNaponKV" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="card-footer">
    <a asp-controller="Generator" asp-action="ShowGenerators">Pogledaj sve generatore</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
