﻿@model IEnumerable<PowerGrid.Models.Generator>

@{
    ViewData["Title"] = "Show Generators";
}

<h1>ShowGenerators</h1>

<p>
    <a asp-controler="GeneratorController" asp-action="CreateGenerator">Dodaj generator</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ID_gen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SnagaGenKW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PocetakRada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IzlaznaStrujaA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrojPotrosaca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stanje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IzlazniNaponKV)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null) return;
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ID_gen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SnagaGenKW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PocetakRada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IzlaznaStrujaA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojPotrosaca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stanje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IzlazniNaponKV)
            </td>
            <td>

                @Html.ActionLink("Izmeni", "EditGenerator", "Generator", new { id = item.ID_gen })  |

                @Html.ActionLink("Obrisi ", "DeleteGenerator", "Generator", new { id = item.ID_gen }) |

                @Html.ActionLink("Povezi GT", "ConnectGen", "Generator", new { id = item.ID_gen })


                
            </td>
        </tr>
}
    </tbody>
</table>
