﻿@model IEnumerable<PowerGrid.Models.Customer>

@{
    ViewData["Title"] = "Connected Customers";
}

<h1>Connected Customers</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_Cust)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresekProvodnika)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IstalisanaSnagaKW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Suspendovan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MTK)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null) return;
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_Cust)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresekProvodnika)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IstalisanaSnagaKW)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suspendovan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MTK)
            </td>
            <td>
                @Html.ActionLink("BlockCustomer", "BlockCustomer", new { id = item.ID_Cust }) |
                @Html.ActionLink("UnblockCustomer", "UnblockCustomer", new { id = item.ID_Cust })

            </td>
        </tr>
}
    </tbody>
</table>
