﻿@model PowerGrid.Models.Distribution

@{
    ViewData["Title"] = "Create Distribution";
}



<h4>Distribution</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateDistributionData">
          
            <div class="form-group">
                <label asp-for="ID_dis" class="control-label"></label>
                <input asp-for="ID_dis" class="form-control" />
              
            </div>
            <div class="form-group">
                <label asp-for="LokX" class="control-label"></label>
                <input asp-for="LokX" class="form-control" />
              
            </div>
            <div class="form-group">
                <label asp-for="LokY" class="control-label"></label>
                <input asp-for="LokY" class="form-control" />
               
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Rasveta" /> @Html.DisplayNameFor(model => model.Rasveta)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NaponskiNivoV" class="control-label"></label>
                <input asp-for="NaponskiNivoV" class="form-control" />
              
            </div>
            <div class="form-group">
                <label asp-for="tezinaM" class="control-label"></label>
                <input asp-for="tezinaM" class="form-control" />
             
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="KratakSpoj" /> @Html.DisplayNameFor(model => model.KratakSpoj)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="PresekProvodnika" class="control-label"></label>
                <input asp-for="PresekProvodnika" class="form-control" />
                
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
