﻿@model IEnumerable<PowerGrid.Models.Distribution>

@{
    ViewData["Title"] = "ShowDistribution";
}

<h1>ShowDistribution</h1>

<p>
    <a asp-contorller="Distribution" asp-action="CreateDistribution">Kreiraj novi distributivni stub</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_dis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LokX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LokY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rasveta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NaponskiNivoV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tezinaM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KratakSpoj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PresekProvodnika)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null) return;
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID_dis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LokX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LokY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rasveta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NaponskiNivoV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tezinaM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KratakSpoj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PresekProvodnika)
            </td>
            <td>
                @Html.ActionLink("Izmeni", "EditDistribution", new {  id=item.ID_dis  }) 
                
                @Html.ActionLink("Obrisi", "DeleteDistribution", new { id=item.ID_dis  })
            </td>
        </tr>
}
    </tbody>
</table>
